<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BookStoreWeb</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>FilterLogin</filter-name>
		<filter-class>filters.FilterLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterLogin</filter-name>
		<servlet-name>Home</servlet-name>
		<servlet-name>Add</servlet-name>
		<servlet-name>Empty</servlet-name>
		<servlet-name>Buy</servlet-name>
		<servlet-name>Operations</servlet-name>
		<servlet-name>InsertBook</servlet-name>
		<url-pattern>/Cart.jsp</url-pattern>
		<url-pattern>/Home.jsp</url-pattern>
		<url-pattern>/InsertBook.jsp</url-pattern>
		<url-pattern>/Operations.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>FilterAdministrator</filter-name>
		<filter-class>filters.FilterAdministrator</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterAdministrator</filter-name>
		<servlet-name>Operations</servlet-name>
		<servlet-name>InsertBook</servlet-name>
		<url-pattern>/Operations.jsp</url-pattern>
		<url-pattern>/InsertBook.jsp</url-pattern>		
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>servlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>servlets.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>servlets.Add</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Empty</servlet-name>
		<servlet-class>servlets.Empty</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Buy</servlet-name>
		<servlet-class>servlets.Buy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Operations</servlet-name>
		<servlet-class>servlets.Operations</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertBook</servlet-name>
		<servlet-class>servlets.InsertBook</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/Add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Empty</servlet-name>
		<url-pattern>/Empty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Buy</servlet-name>
		<url-pattern>/Buy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Operations</servlet-name>
		<url-pattern>/Operations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertBook</servlet-name>
		<url-pattern>/InsertBook</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>